{% extends 'manager.html' %}

{% block head-template %}
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <script type="text/javascript" src="/static/plugins/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block manager %}
{#        <div class="col-md-8 col-md-offset-2">#}
        <h2 class="sub-header">文章发布</h2>
        {% if aritcle_obj %}
            <h4>文章 "{{ aritcle_obj.DogName }}" 已发布 </h4>
            <a href="{% url 'article' aritcle_obj.id %}"><button type="button" class="btn btn-success">点击查看</button></a>
            <a href="{% url 'manager' 1 %}"><button type="button" class="btn btn-success">返  回</button></a>
        {% else %}
            <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
            <table class="table table-bordered">
                {#title#}
                <tr>
                    <td>狗狗名称</td>
                    <td><input type="text"  name="DogName" class="form-control" placeholder="狗狗名称"></td>
                </tr>
                {#color#}
                <tr>
                    <td>狗狗颜色</td>
                    <td><input type="text" name="DogColor" class="form-control" placeholder="狗狗颜色" ></td>
                </tr>
                {#summery#}
                <tr>
                    <td>狗狗描述</td>
                    <td><input type="text" name="DogDescribe" class="form-control" placeholder="狗狗描述" ></td>
                </tr>
                {#head_img#}
                <tr>
                    <td>狗狗头像</td>
                    <td><input type="file" name="DogImg"></td>
                </tr>
                {#category#}
                <tr>
                    <td>选择类目</td>
                    <td>
                        <select name="DogType_id" class="form-control">
                            {% for k,v in DogType_list %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <textarea name="DogText"></textarea>
            <div class="article_submit">
                <button type="submit" style="float:right;margin-top:15px;width:100px;height:50px;" class="btn btn-success btn-lg">发布</button>
            </div>
        </form>
        {% endif %}
{#    </div>#}
{% endblock %}

{% block bottom-template %}
    <script type="text/javascript">
        CKEDITOR.replace('DogText');
    </script>
{% endblock %}