{% extends 'template.html' %}

{% block head-template %}
    <link href="/static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block body-template %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if request.user.is_authenticated %}
              <div  style="padding:10px" class="nav navbar-nav navbar-right dropdown">
                  <button style="border-radius:0;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ request.user.userprofile.name }}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{% url 'new_article' %}">发帖</a></li>
                    <li><a href="{% url 'logout' %}">注销</a></li>
                  </ul>
              </div>
            {% endif %}
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="搜索......">
          </form>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li current_id="1" class="active"><a href="{% url 'manager' '1' %}">文章管理<span class="sr-only">(current)</span></a></li>
            <li current_id="2"><a href="{% url 'manager' '2' %}">版块管理</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block manager %}
            {% endblock %}
        </div>
      </div>
    </div>
{% endblock %}

{% block bottom-template %}
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/static/js/safe.js"></script>
    <script src="/static/js/holder.min.js"></script>
    <script src="/static/js/manager.js"></script>

{% endblock %}